@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rock+Salt&display=swap');

#content{
    max-width:1600px;
    margin: auto 0px;
}
#hero{
    display:grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin-top: -100px;
}
#hero-img{
    width:100%; 
}
#hero-box{
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;
}
#hero-msg{
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top:100px;
}
#hero-msg h1{
    text-align:center;
}
#hero-msg h4{
    text-align:center;
    color:rgb(155, 253, 164);
}
main section img{
    box-sizing: border-box;
}
nav{
    display:flex;
    justify-content: space-around;
}
nav a{
    text-decoration: none;
    color:rgb(213, 245, 216);
    text-align:center;
    padding: 35px;
}
nav a:hover{
    background-color:cadetblue;
    color:blue;
}
.button-box{
    text-align:center;
}
main section{ 
    text-align:center;
}
#background{
    height: 725px;
}
body{
    background-color:white;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 22px;
    margin: 0;
    padding: 0;
}
header{
    background-color: #0b4b2da8;
    display:grid;
    grid-template-columns: 150px auto;
}
h2{
    margin: 0;
    font-family:'Rock Salt','Bradley Hand','sans-serif'
}
h4{
    color: #0b4b2d;
}
.home-title{
    font-family:'Rock Salt', 'Bradley Hand', 'sans-serif';
    font-size: 2em;
    color:rgb(213, 245, 216);
    margin-top: 10px;
}
.home-grid{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
.book{
    background-color:rgb(87, 170, 94);
    color:Black;
    text-decoration:none;
    font-family:'Rock Salt', 'Bradley Hand', 'sans-serif';
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}
.join{
    background-color: rgb(87, 170, 94);
    color:black;
    text-decoration:none;
    font-family:'Rock Salt', 'Bradley Hand', 'sans-serif';
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}
.book:hover{
    background-color: powderblue;
    color:blue;
}
.join:hover{
    background-color: powderblue;
    color:blue;
}
#background{
    background-color: rgb(87, 170, 94);
    grid-column:1/11;
    grid-row:4/9;
}
footer{
    background-color: #0b4b2d;
    color:rgb(87, 170, 94);
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items:center;
}
footer p{
    font-size:1.2em;
}
footer a{
    color:white;
    text-decoration: none;
}
footer a:hover{
    color:cadetblue;
}
footer p a:hover{
    text-decoration:underline;
}
footer .social img{
    padding-top: 15px;
}
.msg{
    background-color: #0b4b2d;
    line-height: 1.5em;
    padding: 35px;
    grid-column: 6/10;
    grid-row:6/7;
    box-shadow: 5px 5px 10px #6f7364;
}
.msg h2{
    color:white;
}
.msg p {
    color:white;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: .8em;
    padding-bottom: 15px;
}
.logo{
    width:80px;
}
.icon{
    width: 80px;
    padding-top: 10px;
}
#logo_link{
    padding-top: 5px;
    justify-self: center;
    align-self:center;
}
.card-img{
    border: 10px black;
    transition: transform .5s;
    box-shadow: 5px 5px 10px #6f7364;
}
.card-img:hover{
    opacity: .6;
    transform:scale(1.1);
}
.card-img, .mountains{
    width:100%;
}
.rivers-card{
    margin: 200px 0;
    grid-column: 2/4;
    grid-row: 2/3;
}
.camping-card{
    margin: 200px 0;
    grid-column: 5/7;
    grid-row: 2/3;
}
.rapids-card{
    margin: 200px 0;
    grid-column: 8/10;
    grid-row: 2/3;
}
.mountains{
    grid-column: 2/7;
    grid-row: 5/8;
    box-shadow: 5px 5px 10px #6f7364;
}

.rivers-grid{
    display:grid;
    grid-template-rows: 1fr 1fr 1fr;
}
.rivers-title{
    text-align:center;
    font-family:'Rock Salt', 'Bradley Hand', 'sans-serif';
    font-size: 70px;
    color:rgb(213, 245, 216);
    margin-top: 10px;
}
.salmon{
    display:grid;
    grid-template-columns: 1fr 1fr;
    background-color:rgb(213, 245, 216);
    color:#0b4b2d;
    grid-row: 1;
}
#salmon-title{
    font-family:'Rock Salt', 'Bradley Hand', 'sans-serif';
}
.salmon-text{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    grid-column: 2;
}
.salmon-img{
    width: 400px;
    grid-column: 1;
    margin-left: 150px;
}
.gray{
    display:grid;
    grid-template-columns: 1fr 1fr;
    background-color:#94BBCC;
    color:#0b4b2d;
    grid-row: 2;
}
#gray-title{
    font-family:'Rock Salt', 'Bradley Hand', 'sans-serif';
}
.gray-text{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    grid-column: 1;
}
.deso{
    width: 400px;
    grid-column: 2;
    margin-left: 150px;
}
.grand{
    display:grid;
    grid-template-columns: 1fr 1fr;
    background-color:rgb(213, 245, 216);
    color:#0b4b2d;
    grid-row: 3;
}
#grand-title{
    font-family:'Rock Salt', 'Bradley Hand', 'sans-serif';
}
.grand-text{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    grid-column: 2;
}
.canyon{
    width: 400px;
    grid-column: 1;
    margin-left: 150px;
}


@media screen and (max-width: 900px) {
    #hero, .home-grid {
        display: block;
        height: auto;
    }
    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
    }
    #hero {
        margin-top: 0;
    }
    #hero-msg {
        margin-top: 0;
    }
    #hero-msg h4 {
        display: none;
    }
    #hero-msg h1 {
        color: #6f7364;
    }
    .home-title {
        font-size: 25px;
    }
    .rivers-card, .camping-card, .rapids-card { 
        margin: 50px auto;
        width: 60%;
    }
    #background {
        display: none;
    }
    .mountains, .msg {
        width: 80%;
        display: block;
        margin: 0 auto;
    }
    footer {
        margin-top: 25px;
    }
}