body{
    background-color:purple;
}

section{
    padding: 30px;
}

#food{
    background-color:palegoldenrod;
    grid-row:1/3;
}

.favecolor{
    background-color:palevioletred;
    color:antiquewhite;
}

.awesome{
    background-color:violet;
    font-size: 25px;
    font-weight: bold;
    grid-row: 1;
}
.awesome div{
    background-color:blueviolet;
}

main{
    display:grid;
    grid-template-columns: 1fr 1fr ;
    border:solid 1px black;
}


footer{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr ;
    border: 1px black;

}

#top-bar{
    background-color: blueviolet;
    grid-column:1/5;
}
#bottom-bar{
    background-color: blueviolet;
    grid-column:1/5;
}
.mid{
    background-color:violet
}
.sides{
    background-color:palevioletred
}